<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="logo">
        <a href="/">
            <img src="https://wheresmyrepo--ridhamkumarnaik.repl.co/static/NewLogo.png" alt="WMR log">
            {{company_name}}</a>
    </div>
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/#">About</a></li>
        <li><a href="/keyword_dashboard">Graphs</a></li>
        <!--    <li><a href="stats">Stats</a></li>-->
    </ul>
    <a href="#" class="action_btn">Add Keyword</a>
    <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
    </div>
</div>
<div class="dropdown_menu">
    <li><a href="/">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Keyword</a></li>
    <li><a href="/keyword_dashboard">Graphs</a></li>
    <li><a href="">Stats</a></li>
    <a href="#" class="action_btn">Add Keyword</a>
</div>

<div style="height: 56px;"></div>